Repository awslabs/aws-ddk, pull requests merged in 2022-04, with the labels that each got.

#74 (core) add CodeArtifact publish action
  core/aws_ddk_core/cicd/__init__.py
  core/aws_ddk_core/cicd/_utils.py
  core/aws_ddk_core/cicd/actions.py
  core/tests/unit/test_cicd_pipeline_stack.py
Labels: enhancement, core, p1

#72 Pin CDK library version
  cli/aws_ddk/data/project_templates/ddk_app/cookiecutter.json
  cli/aws_ddk/data/project_templates/ddk_app/{{cookiecutter.directory_name}}/ddk.json
  cli/aws_ddk/data/project_templates/ddk_app/{{cookiecutter.directory_name}}/requirements.txt
  core/poetry.lock
  core/pyproject.toml
Labels: enhancement, core, cli, dependencies

#79 (core) add lambda layers arg to sqs-lambda stage
  core/aws_ddk_core/stages/sqs_lambda.py
  core/tests/unit/test_sqs_lambda_stage.py
Labels: enhancement, core

#78 (core): Allow multiple cw alarms per stage
  core/aws_ddk_core/pipelines/pipeline.py
  core/aws_ddk_core/pipelines/stage.py
  core/aws_ddk_core/stages/kinesis_s3.py
  core/aws_ddk_core/stages/sqs_lambda.py
  core/tests/unit/test_basic_data_pipeline.py
Labels: enhancement, core, effort/small, p1

#81 (core): Expose state machine objects in stages
  core/aws_ddk_core/stages/appflow_ingestion.py
  core/aws_ddk_core/stages/athena_sql.py
  core/aws_ddk_core/stages/glue_transform.py
  core/tests/unit/test_basic_data_pipeline.py
Labels: enhancement, core, effort/small

#82 (core) add additional_role_policy_statements to state machine stages
  core/aws_ddk_core/stages/appflow_ingestion.py
  core/aws_ddk_core/stages/athena_sql.py
  core/aws_ddk_core/stages/glue_transform.py
Labels: enhancement, core

#85 (docs) updating documentation release workflow to tag stable release
  .github/workflows/docs-release.yml
Labels: documentation, enhancement

#83 (core|cli) enable EventBridge notifications; remove CloudTrail; update CDK version
  cli/aws_ddk/data/project_templates/ddk_app/cookiecutter.json
  core/aws_ddk_core/resources/_s3.py
  core/aws_ddk_core/stages/kinesis_s3.py
  core/aws_ddk_core/stages/s3_event.py
  core/poetry.lock
  core/pyproject.toml
  core/tests/unit/test_basic_data_pipeline.py
Labels: enhancement, core, cli

#94 (version) bumping to 0.3.1 with fix
  cli/aws_ddk/__metadata__.py
  cli/aws_ddk/data/project_templates/ddk_app/cookiecutter.json
  cli/pyproject.toml
  core/aws_ddk_core/__metadata__.py
  core/aws_ddk_core/stages/kinesis_s3.py
  core/pyproject.toml
  docs/_site/source/conf.py
  docs/source/conf.py
  pyproject.toml
  setup.cfg
Labels: bug, core

#99 (docs) how-to guide ddk configuration
  docs/release/next/how-to/ddk-configuration.markdown
Labels: documentation

#92 (core) add stage rshift operator
  core/aws_ddk_core/pipelines/stage.py
  core/tests/unit/test_basic_data_pipeline.py
Labels: core

#102 (docs): How-To Private Code Artifact and other enhancements
  CONTRIBUTING.md
  README.md
  docs/release/next/how-to/private-artifactory.markdown
Labels: documentation, p1
