Repository awslabs/aws-ddk, pull requests merged in 2022-05, with the labels that each got.

#107 Add alpha packages to cli requirements.txt template
  cli/aws_ddk/data/project_templates/ddk_app/{{cookiecutter.directory_name}}/requirements.txt
Labels: bug, core, cli, effort/small, p1

#105 (core) dms ingestion stage
  core/aws_ddk_core/resources/__init__.py
  core/aws_ddk_core/resources/_dms.py
  core/aws_ddk_core/stages/__init__.py
  core/aws_ddk_core/stages/dms_s3_to_s3.py
  core/tests/unit/conftest.py
  core/tests/unit/test_dms.py
  core/tests/unit/test_dms_stages.py
Labels: core, effort/large, p1, work-in-progress

#111 (cli): Add --all to ddk deploy
  cli/aws_ddk/commands/deploy.py
Labels: bug, cli, effort/small, p0
