Repository awslabs/aws-ddk, pull requests merged in 2022-03, with the labels that each got.

#29 add security checks and test stages to CICD pipeline construct
  cli/aws_ddk/data/project_templates/ddk_app/{{cookiecutter.directory_name}}/test.sh
  core/aws_ddk_core/cicd/__init__.py
  core/aws_ddk_core/cicd/actions.py
  core/aws_ddk_core/cicd/pipeline.py
  core/tests/unit/test_cicd_pipeline_stack.py
Labels: enhancement, core

#33 minor: updating pipeline and stage names to data*
  core/aws_ddk_core/pipelines/__init__.py
  core/aws_ddk_core/pipelines/pipeline.py
  core/aws_ddk_core/pipelines/stage.py
  core/aws_ddk_core/stages/glue_transform.py
  core/aws_ddk_core/stages/s3_event.py
  core/aws_ddk_core/stages/sqs_lambda.py
  core/tests/unit/test_basic_data_pipeline.py
Labels: enhancement, core

#42 Add type checking for boto3
  .github/workflows/static-checking.yml
  cli/aws_ddk/services/cfn.py
  cli/aws_ddk/services/codecommit.py
  cli/aws_ddk/utils.py
  cli/poetry.lock
  poetry.lock
  pyproject.toml
  validate.sh
Labels: enhancement, cli, dependencies

#36 (cli): Initialize a git repository when using ddk init
  cli/aws_ddk/__main__.py
  cli/aws_ddk/commands/init.py
Labels: enhancement, cli

#44 (core) add security checks and test stages to CICD pipeline construct #2
  core/aws_ddk_core/cicd/actions.py
  core/aws_ddk_core/cicd/pipeline.py
  core/tests/unit/test_cicd_pipeline_stack.py
Labels: core

#40 (core): cicd pipeline alerting
  core/aws_ddk_core/cicd/pipeline.py
  core/tests/unit/test_cicd_pipeline_stack.py
Labels: enhancement, core

#39 (core) custom codebuild stages
  core/aws_ddk_core/cicd/pipeline.py
  core/tests/unit/test_cicd_pipeline_stack.py
Labels: enhancement, core

#47 (core) adding escape hatches for sqs_lambda stage
  core/aws_ddk_core/stages/sqs_lambda.py
  core/tests/unit/test_sqs_lambda_stage.py
Labels: enhancement, core

#53 (cli): Improve git commands in create-repository
  cli/aws_ddk/__main__.py
  cli/aws_ddk/commands/create.py
  cli/aws_ddk/commands/init.py
  cli/aws_ddk/utils.py
  cli/tests/unit/test_cli.py
  core/aws_ddk_core/stages/sqs_lambda.py
Labels: enhancement, cli

#54 (core): Enable event handling in SQSToLambda stage
  core/aws_ddk_core/stages/sqs_lambda.py
Labels: enhancement, core

#57 Release 0.2.1 - Patch failing CICD pipeline methods
  cli/aws_ddk/__metadata__.py
  cli/aws_ddk/data/project_templates/ddk_app/cookiecutter.json
  cli/aws_ddk/data/project_templates/ddk_app/{{cookiecutter.directory_name}}/test.sh
  cli/pyproject.toml
  core/aws_ddk_core/__metadata__.py
  core/aws_ddk_core/cicd/pipeline.py
  core/pyproject.toml
  core/tests/unit/test_cicd_pipeline_stack.py
  pyproject.toml
  setup.cfg
Labels: bug, core, cli, effort/small

#61 (cli): Remove default AWS profile
  cli/aws_ddk/__main__.py
  cli/aws_ddk/commands/create.py
  cli/aws_ddk/commands/deploy.py
Labels: bug, cli, effort/small, p0

#55 (core) data pipeline & stage alerting
  core/aws_ddk_core/pipelines/pipeline.py
  core/aws_ddk_core/pipelines/stage.py
  core/aws_ddk_core/stages/sqs_lambda.py
  core/tests/unit/test_basic_data_pipeline.py
  core/tests/unit/test_sqs_lambda_stage.py
Labels: enhancement, core

#59 (core): Add Trail escape hatch to S3 Event Stage
  core/aws_ddk_core/stages/s3_event.py
  core/aws_ddk_core/stages/sqs_lambda.py
Labels: enhancement, core, effort/small

#64 (docs) How-to-Guide: Multi-account CI/CD Setup
  docs/img/multi-account-pipeline.png
  docs/img/multi-account-stages.png
  docs/release/next/how-to/multi-account-deployment.markdown
Labels: documentation

#66 (core) add Athena SQL stage
  core/aws_ddk_core/stages/__init__.py
  core/aws_ddk_core/stages/athena_sql.py
  core/tests/unit/test_athena_sql_stage.py
  core/tests/unit/test_basic_data_pipeline.py
  docs/source/core/aws_ddk_core.rst
Labels: enhancement, core, effort/small, p1

#68 (core) add appflow stage
  core/aws_ddk_core/stages/__init__.py
  core/aws_ddk_core/stages/appflow.py
  core/aws_ddk_core/stages/lambda_handlers/appflow_check_flow_status/__init__.py
  core/aws_ddk_core/stages/lambda_handlers/appflow_check_flow_status/lambda_function.py
  core/tests/unit/test_appflow_stage.py
  core/tests/unit/test_basic_data_pipeline.py
  docs/source/core/aws_ddk_core.rst
Labels: enhancement, core, effort/medium
